doctype html
html(lang='zh-CN')
  head
    title= title
    meta(charset='UTF-8')
    meta(name="keywords" content="传文件，在线传文件，局域网传文件，手机电脑传文件")
    meta(name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description"
    content="小鹿快传是一款简单安全高效的在线文件传输工具。无需登录即可使用，使用P2P技术，传输速度不受服务器性能影响，且不限制传输的文件类型，视频图片不损失画质。")
    link(rel="shortcut icon" href="/images/favicon.ico")
    if iconfontUrl
      link(rel="stylesheet" href=iconfontUrl)
    if process.env.NODE_ENV === 'production'
      link(
        rel="stylesheet"
        href=publicPath + '/css/main.css'
      )
    block head
  body
    block content
